# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Igor\IdeaProjects\jackson-json-databinding\jackson-json-dataBinding\project_spring_rest_srm_02_client\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
